# Can you pivot 100 individual shows daily ratings to find top 10 shows?

In [142]:
#Package Import
import numpy as np
import pandas as pd

Assuming that the shows are rated out of 10 and creating random ratings.

In [139]:
import random
ratings=[]
for i in range(100):
    l=[random.randint(1,10) for x in range(365)]
    ratings.append(l)

Assigning Show id and creating a pandas dataframe

In [146]:
show_id=[int(x) for x in range(1,101)]

In [147]:
d = {'Id': show_id, 'Ratings': ratings}
df = pd.DataFrame(d)

In [148]:
df.head()

   Id                                            Ratings
0   1  [6, 10, 7, 6, 1, 1, 10, 1, 9, 8, 3, 7, 6, 3, 3...
1   2  [10, 4, 6, 4, 1, 8, 3, 2, 3, 8, 10, 7, 9, 3, 1...
2   3  [5, 3, 6, 6, 4, 6, 9, 1, 9, 10, 5, 9, 6, 6, 3,...
3   4  [6, 5, 3, 6, 7, 5, 3, 3, 5, 10, 6, 5, 2, 1, 9,...
4   5  [9, 6, 5, 3, 9, 8, 2, 2, 7, 4, 6, 7, 4, 10, 7,...

So our data looks like this we have ratings out of 10 for 365 days per show with each show assigned a unique id

As the ratings are out of 10 we can find the top 10 show by finding each shows average and sorting the shows according to the average.

In [155]:
#Finding average rating (Arithmetic Mean) of each show
avg=[]
for i in range(100):
    temp = sum(df['Ratings'][i])/365
    avg.append(temp)
df['AvgRatings'] = pd.Series(avg, index=df.index)

In [160]:
df.head()

   Id                                            Ratings  AvgRatings
0   1  [6, 10, 7, 6, 1, 1, 10, 1, 9, 8, 3, 7, 6, 3, 3...    5.339726
1   2  [10, 4, 6, 4, 1, 8, 3, 2, 3, 8, 10, 7, 9, 3, 1...    5.416438
2   3  [5, 3, 6, 6, 4, 6, 9, 1, 9, 10, 5, 9, 6, 6, 3,...    5.638356
3   4  [6, 5, 3, 6, 7, 5, 3, 3, 5, 10, 6, 5, 2, 1, 9,...    5.282192
4   5  [9, 6, 5, 3, 9, 8, 2, 2, 7, 4, 6, 7, 4, 10, 7,...    5.591781

In [166]:
top = [x for _, x in sorted(zip(df['AvgRatings'], df['Id']))]
print(top[0:11])

[57, 100, 37, 71, 65, 87, 18, 90, 43, 4, 40]

Above are the top 10 shows according to their ratings for 365 days